@use "./variables" as *;
@use "./mixins" as *;

.advantages {
  &__container {
    @include flex-column-center;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 92px;

    @include tablet-landscape {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, auto);
      grid-column-gap: 0;
      grid-row-gap: 27px;
    }
  }

  &__title {
    background: $dark;
    margin-bottom: 33px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 38px;
    line-height: 126%;
    text-transform: uppercase;
    text-align: center;
    color: $dark;
    margin-bottom: 9px;
    white-space: nowrap;

    @include mobile {
      font-size: 16px;
      line-height: 100%;
      margin-bottom: 19px;
    }
  }

  &__card {
    @include flex-center;
    gap: 15px;

    @include tablet-landscape {
      max-width: 400px;
      flex-direction: column;
    }

    &-figure {
      @include flex-center;
      min-width: 116px;
      height: 116px;
      border-radius: 50%;
      background-color: $primary;

      @include mobile {
        min-width: 103px;
        height: 103px;
      }
    }

    &-title {
      font-weight: 400;
      font-size: 17px;
      line-height: 124%;
      color: $primary;
      margin-bottom: 5px;
    }

    &-body {
      align-self: flex-start;
      padding: 10px;

      @include mobile {
        padding: 0;
      }
    }
    &-copy {
      line-height: 124%;
      font-weight: 300;
      font-size: 15px;
      color: $dark-mode;
    }
  }
}
