@use "./variables" as *;
@use "./mixins" as *;

.choice {
  background-image: url(../assets/images/possibilities.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__container {
    @include flex-column-center;
  }

  &__top {
    height: 502px;
    position: relative;
    padding: 60px;
    background: $dark;

    @include mobile {
      display: flex;
      height: 393px;
      padding: 25px;
      margin-bottom: -30px;
    }

    &-info {
      max-width: 279px;
      font-weight: 300;
      font-size: 17px;
      line-height: 141%;
      text-align: center;
      color: $white;
      opacity: 0;
      margin-top: auto;
      @include mobile {
        opacity: 1;
      }
    }
  }

  &__title {
    background: $white;
    color: $dark;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 38px;
    line-height: 126%;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    opacity: 1;

    @include mobile {
      opacity: 0;
    }
  }

  &__info {
    font-weight: 400;
    font-size: 17px;
    line-height: 124%;
    text-align: center;
    color: $white;
    opacity: 1;

    @include mobile {
      opacity: 0;
    }
  }

  &__img {
    position: absolute;
    top: 50%;

    @include mobile {
      top: 18%;
    }
  }

  &__bottom {
    height: 397px;
    padding-bottom: 100px;
    display: flex;
    align-items: end;

    @include mobile {
      display: none;
    }

    &-info {
      @include flex-center;
      max-width: 327px;
      font-weight: 300;
      font-size: 17px;
      line-height: 141%;
      text-align: center;
      color: $dark-light;
    }
  }
}
