@use "./variables" as *;
@use "./mixins" as *;

.header {
  &__top {
    background: $dark-mode;
    padding-top: 18px;
    padding-bottom: 15px;
  }

  &__bottom {
    position: relative;
    background: $dark;
    @include flex-center;
    padding-top: 20px;
    padding-bottom: 19px;
    z-index: 1;
    opacity: 0.75;

    &-container {
      width: 100%;
      padding: 0 50px 0 67px;
      @include flex-between;

      @include tablet {
        padding: 0 15px;
      }
    }
  }
  .nav {
    &__list {
      display: flex;

      @include laptop {
        display: none;
      }
    }

    &__item:not(:last-child) {
      border-right: $border-dotted;
    }

    &__link {
      text-wrap: nowrap;
      padding-right: 34px;
      padding-left: 34px;
      font-weight: 300;
      font-size: 15px;
      line-height: 100%;
      color: $white;
    }
  }

  .logo {
    @include flex-column;

    &__description {
      font-weight: 100;
      font-size: 13px;
      color: $white;

      @include tablet {
        display: none;
      }
    }

    &__img {
      @include mobile {
        width: 130px;
      }
    }
  }

  .phone {
    @include flex-center;

    @include mobile-sm {
      @include flex-column;
    }

    &__description {
      @include flex-column;
      margin-right: 33px;

      @include mobile-sm {
        margin-right: 0;
      }

      &-text {
        font-weight: 300;
        font-size: 12px;
        line-height: 117%;
        text-align: right;
        color: $white;
        margin-bottom: 7px;

        @include tablet {
          display: none;
        }
      }

      &-link {
        font-weight: 400;
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
        color: $white;

        @include mobile {
          font-size: 12px;
          margin-bottom: 5px;
        }
      }
    }

    &__button {
      padding: 14px 22px;
      font-weight: 400;
      font-size: 14px;

      @include mobile {
        padding: 7px 11px;
        font-size: 12px;
      }
    }
  }
}
