@use "./variables" as *;
@use "./mixins" as *;

.requirements {
  &__title {
    background: $dark;
    color: $white;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 38px;
    line-height: 126%;
    text-transform: uppercase;
    text-align: center;
    color: $dark;
    margin-bottom: 37px;

    @include mobile {
      font-size: 16px;
    }
  }

  &__container {
    @include flex-column-center;
  }

  &__flex-top {
    display: flex;
    gap: 20px;
    margin-bottom: 60px;

    @include mobile {
      width: 100%;
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__flex-bottom {
    display: flex;
    gap: 20px;

    @include mobile {
      width: 100%;
      flex-direction: column;
    }
  }

  &__column {
    flex: 1;
  }

  &__column-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 109%;
    color: $primary;
    margin-bottom: 10px;

    @include mobile {
      font-size: 16px;
    }
  }

  &__list {
    @include flex-column;
    padding: 15px 15px 15px 53px;
    gap: 6px;

    @include mobile {
      padding: 15px 15px 15px 25px;
    }
  }

  &__list-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    font-weight: 300;
    font-size: 17px;
    line-height: 141%;
    color: $dark-light;

    @include mobile {
      font-size: 14px;
      padding-left: 5px;
    }

    &::before {
      content: "";
      position: absolute;
      left: -36px;
      top: 2px;
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;

      @include mobile {
        left: -23px;
        top: 0;
      }
    }

    &--blue::before {
      background-image: url("../assets/images/blue.svg");
    }

    &--red::before {
      background-image: url("../assets/images/red.svg");
    }
  }

  &__img {
    margin-right: 6px;
  }

  &__note {
    font-weight: 300;
    font-size: 17px;
    line-height: 141%;
    color: $primary;
  }

  &__column-title--bottom {
    color: $red;
  }
}
