$primary: #1eacc7;
$primary-light: #1fbad6;
$red: #ff5656;
$white: #ffffff;
$gray: #999999;
$dark-light: #222222;
$dark-mode: #212121;
$dark: #000000;

// Gradients (если нужны)
$gradient-primary: linear-gradient(135deg, $primary, $primary-light);
$gradient-danger: linear-gradient(135deg, $red, #ff8888);

$border-dotted: 2px dotted rgba($white, 0.3);
