@use "./variables" as *;
@use "./mixins" as *;
@use "./reset";
@use "./fonts";
@use "./header";
@use "./hero";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

// Контейнер (общий для всех секций)
.container {
  max-width: 1064px;
  margin: 0 auto;
}
